.posts {
    list-style: none;
    max-width: 50rem;
    margin: 1rem auto;
    padding: 1rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
}

.button {
    background-color: blueviolet;
    border-color: aqua;
    border: 1px solid cadetblue;
    padding: 5px;
    color: white;
}
